.container {
  --container-padding: 0;
}
.playlist {
  margin-top: 1em;
}
.playlist h2 {
  padding-inline: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}
.item {
  margin: 0.5em 0;
  padding: 0.5em 1em;
  border: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
.item:hover,
.item:focus {
  background: rgba(0, 0, 0, 0.3);
}
.item img {
  object-fit: cover;
  min-width: 120px;
  background: gray;
}
.content {
  line-height: 1.5;
  flex-direction: column;
  justify-content: center;
  text-align: initial;
  --gap: 0;
}
.content p {
  font-weight: 700;
}
.content span {
  font-size: 0.9rem;
  text-transform: uppercase;
}
.dmWrapper {
  min-height: 400px;
}
@media (min-width: 768px) {
  .container {
    --container-padding: 1em;
  }
  .playlist h2 {
    padding-inline: 0;
  }
}
@media (min-width: 970px) {
  .container {
    grid-template-columns: 1fr auto;
    --gap: 1.5em;
  }
  .playlist {
    margin-top: 0;
    width: 400px;
  }
  .playlist h2 {
    margin-top: -0.4em;
  }
}
