---
import Layout from '../layouts/Layout.astro';
import Page from '../components/page.astro';
---

<Layout title="Page inexistante - KTV Guyane">
	<Page title="Oups ! Page inexistante">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique autem tenetur ipsa dignissimos dolorum ipsum sapiente consequuntur fuga totam officia, corporis quo inventore rerum quisquam dolor et? Iusto, quasi minus.</p>
    <a href="/">{'<-'} Découvrez nos dernières émissions</a>
	</Page>
</Layout>

