---
import Layout from '@layouts/Layout.astro';
import Page from '@components/Page.astro';
---

<Layout title="Page inexistante - KTV Guyane">
	<Page title="Oups ! Page inexistante">
		<p>KTV Guyane est un média de proximité consacré à la culture guyanaise et d'ailleurs.</p>
		<p>Regardons-nous être. Dans une société multiculturelle comme la notre. La télé de proximité.</p>
    <a href="/">{'<-'} Retourner à la page d'accueil</a>
	</Page>
</Layout>
