---
import Layout from '@layouts/Layout.astro';
import Page from '@components/page.astro';
---

<Layout title="À propos de KTV Guyane - Regardons-nous être">
	<Page title="À propos">
		<p>KTV Guyane est un média de proximité consacré à la culture guyanaise et d'ailleurs.</p>
		<p>Regardons-nous être. Dans une société multiculturelle comme la notre. La télé de proximité.</p>
	</Page>
</Layout>
