---
import Layout from '@layouts/Layout.astro';
import Page from '@components/page.astro';
---

<Layout title="Contactons-nous, regardons-nous être - KTV Guyane">
	<Page title="Contact">
		<p>Vous souhaitez nous laisser un commentaire, une remarque ?</p>
		<p>Ou nous contacter pour toute autre demande ? Vous pouvez nous écrire sur Facebook ou par e-mail.</p>
	</Page>
</Layout>
