---
import Layout from '../layouts/Layout.astro';
import Page from '../components/page.astro';
---

<Layout title="Contactons-nous, regardons-nous être">
	<Page title="Contact">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique autem tenetur ipsa dignissimos dolorum ipsum sapiente consequuntur fuga totam officia, corporis quo inventore rerum quisquam dolor et? Iusto, quasi minus.</p>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique autem tenetur ipsa dignissimos dolorum ipsum sapiente consequuntur fuga totam officia, corporis quo inventore rerum quisquam dolor et? Iusto, quasi minus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique autem tenetur ipsa dignissimos dolorum ipsum sapiente consequuntur fuga totam officia, corporis quo inventore rerum quisquam dolor et? Iusto, quasi minus.</p>
	</Page>
</Layout>

