---
import Layout from '@layouts/Layout.astro';
import Page from '@components/Page.astro';
---

<Layout title="Mentions légales - KTV Guyane">
  <Page title="Mentions légales">
    <p>En cours de rédaction.</p>
  </Page>
</Layout>
