---
import Layout from '../layouts/Layout.astro';
import Page from '../components/page.astro';
---

<Layout title="Publicité et Partenaires - KTV Guyane">
  <Page title="Publicité et Partenaires - Page en construction">
    <p>Cette page est en construction...</p>
    <p>KTV Guyane est un média de proximité consacré à la culture guyanaise et d'ailleurs.</p>
    <p>
      Regardons-nous être. Dans une société multiculturelle comme la notre. La télé de proximité.
    </p>
  </Page>
</Layout>
