---
export interface Props {
  id: string;
  title: string;
  channel: string;
  thumbnail_120_url: string;
}

const { id, title, channel, thumbnail_120_url } = Astro.props;
---

<a class="flex item" href={`/videos/${id}`}>
  <div>
    <img src={thumbnail_120_url} alt="" width="120px" height="70px">
  </div>
  {title}<br/>
  {channel}
</a>

<style>
  a {
		padding: 0.5em 0;
	}
  a:hover,
  a:focus {
    background: rgba(0,0,0,0.2);
  }
  img {
    object-fit: cover;
  }
</style>