---
export interface Props {
  id: string;
  title: string;
  channel: string;
  thumbnail_120_url: string;
}

const { id, title, channel, thumbnail_120_url } = Astro.props;
---

<!-- <a class="flex item" href={`/videos/${id}`}> -->
<div class="flex item">
  <div>
    <img src={thumbnail_120_url} alt="" width="120px" height="70px">
  </div>
  {title}<br/>
  {channel}
</div>

<!-- <script>
  const items = document.querySelectorAll('.item');
  items.forEach((item) => {
    item.addEventListener('click', () => {
      console.log('click')
    });
  })
</script> -->

<style>
  .item {
		padding: 0.5em 0;
    cursor: pointer;
	}
  .item:hover,
  .item:focus {
    background: rgba(0,0,0,0.2);
  }
  img {
    object-fit: cover;
  }
</style>