---
import HeroItem from './HeroItem.astro';

let data;

try {
	const response = await fetch('https://api.dailymotion.com/videos?fields=id%2Cchannel%2Ctitle%2Cthumbnail_120_url&limit=5&owners=x2nsv7s');
	data = await response.json();
} catch (error) {
	console.error(error)
}
// console.log(data);
---
<section>
	<div class="container grid">
		<div class="vid-container">
			<!-- <script src="https://geo.dailymotion.com/player/x8vkt.js" data-video="x8b6o8e"></script> -->

			<script src="https://geo.dailymotion.com/player/x8vkt.js" data-playlist="x7hr2l"></script>

			<!-- <div style="position:relative;padding-bottom:56.25%;height:0;overflow:hidden;" itemscope itemtype="https://schema.org/VideoObject"><meta itemprop="name" content="La sélection" /><meta itemprop="description" content="La sélection" /><meta itemprop="uploadDate" content="2022-05-28T21:12:23.000Z" /><meta itemprop="thumbnailUrl" content="https://s2.dmcdn.net/v/Tyyik1Yaf3s7VWqdD/x180" /><meta itemprop="embedUrl" content="https://dailymotion.com/embed/playlist/x7hr2l" /><iframe style="width:100%;height:100%;position:absolute;left:0px;top:0px;overflow:hidden" frameborder="0" type="text/html" src="https://dailymotion.com/embed/playlist/x7hr2l?autoplay=1" width="100%" height="100%"   allow="autoplay" allowfullscreen></iframe></div> -->
		</div>
		<div class="playlist">
			<h2>Les denières vidéos</h2>
			<div>
				{data?.list && data.list.map(({id, title, channel, thumbnail_120_url}) => (
					<HeroItem {id} {title} {channel} {thumbnail_120_url} />
				))}
			</div>
		</div>
	</div>
</section>

<style>
	section {
		margin-top: 1em;
	}
	.playlist {
		margin-top: 1em;
		padding-inline: 1em;
	}
	.container {
		padding: 0;
	}
	@media (min-width: 800px) {
		.container {
			padding-inline: 1em;
		}
  }
	@media (min-width: 970px) {
		.container {
			grid-template-columns: 1fr auto;
		}
		.playlist {
			margin-top: 0;
		}
		h2 {
			margin-top: -0.4em;
		}
	}
</style>