---
import menu from '@tools/menu.js';
import SocialIcon from '@components/SocialIcon.astro';
---

<footer>
  <div class="container">
    <div class="content flex">
      <div>
        <h4>Suivez-nous sur les réseaux sociaux&nbsp;:</h4>
        <div class="socials">
          <SocialIcon brand="Facebook" href="https://www.facebook.com/KTVTOKO" />
          <SocialIcon brand="Twitter" href="https://twitter.com" />
        </div>
        <h4 class="mt1">Nous recevoir&nbsp;:</h4>
        <ul>
          <li>TNT HD : <strong>10</strong></li>
          <li>CANAL SATELLITE : <strong>35</strong></li>
          <li>TV ORANGE : <strong>6</strong></li>
          <li>TV CARAÏBES : <strong>30</strong></li>
        </ul>
      </div>
      <div>
        <ul>
          {menu.map(({href, title}) => (<li><a href={href}>{title}</a></li>))}
        </ul>
      </div>
      <div>
        <ul>
          <li><a href="/pub-partenaires/">Pub et partenaires</a></li>
          <li><a href="/aidez-nous/">Aider KTV Guyane</a></li>
          <li><a href="/mentions-legales/">Mentions légales</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container copy"><a href="/">KTV Guyane</a> © 2022</div>
</footer>

<style>
  footer {
    margin-top: 5em;
    padding: 1.5em 0 2em;
  }
  h4 {
    font-weight: 600;
  }
  ul {
    line-height: 1.8;
  }
  .container {
    text-align: center;
  }
  .content {
    flex-direction: column;
    justify-content: space-between;
  }
  .copy {
    margin-top: 1.5em;
  }
  @media (min-width: 768px) {
    .container {
      text-align: inherit;
    }
    .content {
      flex-direction: row;
    }
  }
</style>
