<footer>
  <div class="container">
    <div class="content flex bordered">
      <div>
        <h4>Suivez-nous sur les réseaux sociaux&nbsp;:</h4>
        <a href="https://www.facebook.com/KTVTOKO" target="_blank" rel="noreferrer noopener nofollow"><img src="/assets/facebook.svg" alt="facebook" title="facebook"></a>
        <h4 class="mt1">Nous recevoir&nbsp;:</h4>
        <ul>
          <li>TNT HD : <strong>6</strong></li>
          <li>ORANGE : <strong>6</strong></li>
        </ul>
      </div>
      <div>
        <ul>
          <li><a href="/direct/">Le Direct</a></li>
          <li><a href="/jt/">Le JT</a></li>
          <li><a href="/emissions/">Emissions</a></li>
          <li><a href="/programme-tv/">Programme TV</a></li>
        </ul>
      </div>
      <div>
        <ul>
          <li><a href="/a-propos/">À propos</a></li>
          <li><a href="/contact/">Contact</a></li>
          <li><a href="/pub-partenaires/">Pub et partenaires</a></li>
          <li><a href="/aidez-nous/">Aider KTV Guyane</a></li>
          <li><a href="/mentions-legales/">Mentions légales</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container foot"><a href="/">KTV Guyane</a> © 2022</div>
</footer>

<style>
  footer {
    margin-top: 5em;
  }
  h4 {
    font-weight: 600;
  }
  img {
    width: 1.5em;
  }
  ul {
    line-height: 1.8;
  }
  .bordered {
    border-top: 2px solid black;
    padding-top: 1.5em;
  }
  .content {
    flex-direction: column;
    justify-content: space-between;
  }
  .foot {
    margin: 1.5em auto;
  }
  @media (min-width: 768px) {
    .content {
      flex-direction: row;
    }
  }
</style>