---
// document.getElementById('menuBtn').addEventListener('click', () => {
//   console.log('menu');
// });
---
<header>
  <div class="topbar container flex">
    <a href="/" class="brand">
      <img src="/assets/KTV.webp" alt="KTV Guyane">
    </a>
    <div class="icons flex">
      <a href="https://www.facebook.com/KTVTOKO" target="_blank" rel="noreferrer noopener nofollow"><img src="/assets/facebook.svg" alt="facebook" title="Suivez-nous sur facebook" style="width:1.5em;"></a>
      <button id="menuBtn">
        <span class="sr-only">Ouvrir / fermer menu</span>
        <img src="/assets/menu.png" alt="menu">
      </button>
    </div>
  </div>
  <div class="navbar">
    <nav class="container">
      <ul class="flex">
        <li><a href="/direct/">Le Direct</a></li>
        <li><a href="/jt/">Le JT</a></li>
        <li><a href="/emissions/">Emissions</a></li>
        <li><a href="/programme-tv/">Programme TV</a></li>
      </ul>
    </nav>
  </div>
</header>

<style>
  header {
    padding: 0.5em 0;
  }
  .topbar {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .brand {
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    width: 150px;
  }
  .icons {
    align-items: center;
  }
  .navbar {
    margin-top: 1em;
    min-height: 1em;
    background-image: linear-gradient(170deg, #fff 0%, yellow 80%, green 100%);
  }
  button {
    border: 0;
    background: transparent;
    cursor: pointer;
    padding: 0.5em;
  }
  nav {
    display: none;
    width: 100%;
  }
  nav ul {
    flex-direction: column;
  }
  nav li {
    padding: 0.7em;
  }
  nav a {
    position: relative;
    font-size: 1em;
    font-weight: 500;
    padding-bottom: 0.2em;
    transition: 0.5s ease;
  }
  nav a:before {
    content: '';
    position: absolute;
    background: green;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.5s ease;
  }
  nav a:hover:before,
  nav a:focus:before {
    width: 100%
  }
  @media (min-width: 768px) {
    .topbar button {
      display: none;
    }
    nav {
      display: block;
    }
    nav ul {
      flex-direction: row;
    }
  }
</style>