<header>
  <div class="navbar container flex">
    <!-- <a href="/">
      <img class="navbar-icon" src="/assets/KTV.png" width="200px" alt="KTV Guyane">
    </a>
    <ul class="navbar-menu flex">
      <li><a href="#">En direct</a></li>
      <li><a href="#">À propos</a></li>
      <li><a href="#">Emissions</a></li>
      <li><a href="#">Contact</a></li>
    </ul> -->
    <a href="/" class="brand">
      <img src="/assets/KTV.png" width="200px" alt="KTV Guyane">
    </a>
    <div class="nav flex">
      <div class="nav-items">
        <a href="/direct/">Le Direct</a>
        <a href="/jt/">Le JT</a>
        <a href="/emissions/">Emissions</a>
        <a href="/programme-tv/">Programme TV</a>
      </div>
    </div>
  </div>
</header>

<style>
  header {
    padding: 0.5em 0;
  }
  .navbar {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .brand {
    color: #000;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    width: 150px;
  }
  .nav {
    position: relative;
    display: none;
  }
  .nav-items a {
    position: relative;
    color: #000;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.5s ease;
  }
  .nav-items a:before {
    content: '';
    position: absolute;
    background: green;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.5s ease;
  }
  .nav-items a:hover:before,
  .nav-items a:focus:before {
    width: 100%
  }
  @media (min-width: 768px) {
    .nav {
      display: flex;
    }
  }
</style>