---
export interface Props {
  title: string;
}

const { title } = Astro.props as Props;
---

<section>
  <div class="container">
    <div class="page-container">
      <h1>{title}</h1>
      <slot />
    </div>
  </div>
</section>

<style>
  .page-container {
    max-width: 50rem;
  }
  h1 {
    margin: 0 0 1em;
  }
  section :global(p) {
    margin: 1.125rem 0;
  }
</style>