---
export interface Props {
  brand: string;
  href: string;
}

const { brand, href } = Astro.props as Props;
---

<a class="clean" href={href} target="_blank" rel="noopener noreferrer" title={`Suivez-nous sur ${brand}`}>
  <img src={`/assets/${brand.toLowerCase()}.svg`} alt="" width="27" height="27" loading="lazy">
</a>

<style>
  a {
    display: inline-block;
    padding: 0.5em;
  }
</style>
